.search-box {
    margin-right: 10px;

    &__input {
        padding: 0 10px;
        width: 200px;
        height: 30px;
        border-radius: 3px;
        border: none;
        text-align: center;
        
        &::placeholder {
            background-image: url(../../image/search.webp);   
            background-repeat: no-repeat;
            background-position: 57px;
            background-size: 15px 15px;
            text-align: center;
        }
    }
}